.app{
    nav{
        .first-nav-band{
            background-color: #232f3e;
            display: flex;
            .side-menu{
                .menu-btn{
                    border: none;
                    background-color: transparent;
                    padding: 0.6rem;
                    img{
                        width: 1.5rem;
                        
                    }
                }
            }
            .logo{
                display: flex;
                align-items: center;
                img{
                    width: 5rem;
                }
            }
            .sign-in{
                a{
                    align-items: center;
                    color: white;
                    display: flex;
                    text-decoration: none;
                    padding: 0.6rem;
                    p{
                        
                    }
                }
            }
        }
    }
}